body {
  background-color: #06000a;
  color: #eeebdd;
}

ul {
  list-style-type: none;
}

.btn-primary {
  background-color: #640c0c;
  border: #640c0c;
}

.btn-primary:hover {
  background-color: #06000a;
  border: #06000a;
}

.btn-danger {
  background-color: #420b40;
  border: #420b40;
}

.btn-danger:hover {
  background-color: #06000a;
  border: #06000a;
}

.container {
  text-align: center;
  border: solid 2px #eeebdd;
  padding: 4rem;
  border-radius: 15px;
  background-color: #eeebdd;
  color: #06000a;
  max-width: 70%;
  font-size: 20px;
}

.card {
  color: #06000a;
  border-radius: 15px;
  margin-left: 5%;
}

.card-img-top {
  max-width: 10%;
  height: 20%;
  margin: 0 auto;
}

.form-floating {
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
}

.btn-catalogue {
  display: flex;
  gap: 20px;
  max-width: 400px;
  margin: 2rem auto;
}

.btn-catalogue .btn-primary:hover {
  background-color: #eeebdd;
  color: rgb(100, 12, 12);
  font-weight: bold;
}

.btn-catalogue .btn-danger:hover {
  background-color: #eeebdd;
  color: rgb(66, 11, 64);
  font-weight: bold;
}

.card-title {
  text-align: center;
  color: #640c0c;
}

/* Responsive */

/* TABLETTE */

@media screen and (max-width: 800px) {
  .container {
    margin-top: 15%;
  }

  .card-img-top {
    max-width: 20%;
  }
}

/* MOBILE */

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
    max-width: 80%;
    margin-top: 5%;
  }

  .card-img-top {
    max-width: 20%;
  }
}
