body {
  background-color: #06000a;
  color: #eeebdd;
}

.btn-primary {
  background-color: rgb(100, 12, 12);
  border: rgb(100, 12, 12);
  margin-top: 1rem;
}

.btn-primary:hover {
  background-color: #06000a;
  border: #06000a;
}

.btn-danger {
  background-color: rgb(66, 11, 64);
  border: rgb(66, 11, 64);
  margin-top: 1rem;
}

.btn-danger:hover {
  background-color: #06000a;
  border: #06000a;
}

.container {
  border: solid 2px #eeebdd;
  padding: 4rem;
  border-radius: 15px;
  background-color: #eeebdd;
  color: #06000a;
  max-width: 70%;
  font-size: 20px;
  margin-top: 3%;
}

.text-image {
  font-size: 15px;
}

h2 {
  text-align: center;
  color: #640c0c;
}

button {
  margin-bottom: 1rem;
}

.btn-section {
  display: flex;
  justify-content: center;
}

.select-form {
  display: flex;
  justify-content: center;
  border-bottom: solid 1px #640c0c;
  padding-bottom: 1rem;
}

select {
  cursor: pointer;
  background-color: #640c0c;
  border: none;
  padding: 0.5rem;
  border-radius: 10px;
  color: #eeebdd;
}
option {
  border: none;
}

.option-select {
  cursor: pointer;
}

.option-select:hover {
  background-color: #eeebdd;
}

.margin-top {
  margin-top: 1rem;
}

p {
  text-align: center;
}

button a {
  text-decoration: none;
  color: #eeebdd;
}

button a:hover {
  color: #eeebdd;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 2rem;
    max-width: 85%;
    margin-top: 1%;
  }
}

@media screen and (max-width: 500px) {
  .container {
    padding: 1rem;
  }
}
