@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

.bg-dark-color {
  background-color: #06000a;
}

.bg-light-color {
  background-color: #eeebdd;
}

.dark-color {
  color: #06000a;
}

.light-color {
  color: #eeebdd;
}

.red-color {
  color: #640c0c;
}
