body {
  background-color: #b89db4;
}

.container {
  margin: 5rem auto;
}

.row > *{
  padding-right: 0;
  padding-left: 0;
}

video {
  position: relative;
}

.top-video {
  position: absolute;
  left: 25%;
  top: 40%;
  font-size: 55px;
  font-weight: bold;
  color: #eeebdd;
}

.form-floating{
  margin-top: 1rem;
}

.btn {
  margin-top: 1rem;
}
